@model AppModelo.Services.Models.Paciente

@{
    ViewBag.Title = "Detalhes";
}

<h2>Pacientes</h2>

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CartaoSUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CartaoSUS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id })
</p>
