@model AppModelo.Web.Models.PacienteViewModel

@{
    ViewBag.Title = "Pesquisa de Pacientes";
}

<h2>Pesquisa de Pacientes</h2>

<div class="form-group">
    <a href="@Url.Action("SearchAll", "Paciente")" class="btn btn-default" data-toggle="tooltip" title="Todos os Pacientes"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
    <a href="@Url.Action("Create", "Paciente")" class="btn btn-primary" data-toggle="tooltip" title="Novo Paciente"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="padding-left:15px">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome do Paciente" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
                @Html.EditorFor(model => model.CartaoSUS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nº Cartão SUS" } })
                @Html.ValidationMessageFor(model => model.CartaoSUS, "", new { @class = "text-danger" })
            </div>

        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
